body {
  background-color: rgba(179, 179, 179, 1);
}

ul {
  list-style-type: none;
}

h3 {
  text-align: center;
}

#profile {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  background: #000 url("../img/profile.jpg") center center;
  background-size: cover;
  overflow: hidden;
}

#profile h1 {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  margin-top: 50%;
  bottom: 50%;
}

#profile p {
  color: white;
  text-align: center;
}

#about_me {
  font-family: 'Raleway', sans-serif;
  color: rgba(102, 102, 102, 1);
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify
}

#projects {
  text-align: center;
}

#projects #built {
  margin-top: 20px;
  font-size: 15px;
}

#projects img {
  margin-bottom: 30px;
}

.thumbnail {
  font-family: 'Raleway', sans-serif;
  color: rgba(102, 102, 102, 1);
}
